@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

a:hover {
  @apply underline;
}

span,
p {
  @apply font-light;
}

body{
  font-family: 'Oxygen', sans-serif;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link-images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
}

.link-images img{
  color: white;
}

.homeIndex{
  background-color: #272727;
  color: white;
  min-height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vw;
  padding-bottom: 1vw;
}

#contact-button{
  font-weight: 600;
  font-size: 1.5rem;
  color: #757575;
}

.button-block{
  margin-top: 1vw;
  display: flex;
  column-gap: 1vw;
}

.avatar-block{
  margin-top: 1vw;
  display: flex;
  column-gap: 1vw;
}

.button-block a{
  background-color: #D33847;
  color: white;
  text-decoration: none;
  border-radius: 0.25em;
  padding: 0.5vw;
  min-width: max(6vw, 150px);
  text-align: center;
}

.title-block{
  display: flex;
  flex-direction: column;
}

#name-block{
  font-weight: 400;
  font-size: 3.5rem;
}

#position-block{
  font-weight: 350;
  font-size: 2rem;
}

#description-block{
  font-weight: 300;
  font-size: 1.25rem;
}